<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>com.rooshoes.tumblrHTML5Audio</string>
       <key>Developer Identifier</key>
       <string>HYG6U3N274</string>
       <key>CFBundleVersion</key>
       <string>3</string>
       <key>CFBundleShortVersionString</key>
       <string>1.2</string>
       <key>URL</key>
       <string>https://github.com/jesstech/Tumblr-HTML5-Audio/raw/master/safari/Tumblr-HTML5-Audio1.2.safariextz</string>
     </dict>
   </array>
</dict>
</plist>